body {
    background: rgb(74, 67, 56);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    text-shadow: 3px 3px 3px rgb(30, 29, 35);
    margin: 0;
    padding: 0;
    position: relative;
}


.banner {
    height: 100px;
    margin-top: 30px;
    margin-bottom:-18px;
    
}

.album-name {
    font-size: 38px;
}

.album-category {
    font-size: 24px;
}


.container {
    width: 900px;
    margin: 0 auto;
    position: relative;
}

@mixin photo-album {
    height: 496px;
    width: 100%;
    box-shadow: 3px 3px 3px rgb(30, 29, 35);
    background: #7d7e7d; /* Old browsers */
    background: -moz-linear-gradient(top,  #7d7e7d 0%, #e5dfbf 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#e5dfbf)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #7d7e7d 0%,#e5dfbf 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #7d7e7d 0%,#e5dfbf 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #7d7e7d 0%,#e5dfbf 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #7d7e7d 0%,#e5dfbf 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#e5dfbf',GradientType=0 ); /* IE6-9 */
    }


.buffalo-photo-album {
    @include photo-album;
}   

@mixin photo {
    width: 200px;
    height: 200px;
    margin-top: 30px;
    margin-right: 14px;
}

.buffalo-photo-1, .buffalo-photo-2, .buffalo-photo-3, .buffalo-photo-4, 
.buffalo-photo-5, .buffalo-photo-6, .buffalo-photo-7, .buffalo-photo-8 {
    @include photo;
    transition: all 1s ease;
}

.buffalo-photo-1:hover, .buffalo-photo-2:hover, .buffalo-photo-3:hover, .buffalo-photo-4:hover, 
.buffalo-photo-5:hover, .buffalo-photo-6:hover, .buffalo-photo-7:hover, .buffalo-photo-8:hover {
    width: 230px;
    height: 230px;
    box-shadow: 5px 5px 8px  rgb(30, 29, 35);
}












