body {
    background: #5d5548;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    text-shadow: 2px 2px 2px black;
    margin: 0;
    padding: 0;
    position: relative;
}


.banner {
    height: 100px;
    margin-top: 20px;
    background-color: #5d5548;
}

.album-name {
    font-size: 38px;
}

.album-category {
    font-size: 24px;
}


.container {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}


.photo-album {   
    height: 520px;
    width: 100%;
    background: #7d7e7d; /* Old browsers */
background: -moz-linear-gradient(top,  #7d7e7d 0%, #e5dfbf 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#e5dfbf)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #7d7e7d 0%,#e5dfbf 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #7d7e7d 0%,#e5dfbf 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #7d7e7d 0%,#e5dfbf 100%); /* IE10+ */
background: linear-gradient(to bottom,  #7d7e7d 0%,#e5dfbf 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#e5dfbf',GradientType=0 ); /* IE6-9 */


}  

.photo-1 {
    width: 212px;
    height: 212px;
    margin-top: 28px;
    margin-right: 20px;
    transition: all 1s ease;
}

.photo-1:hover {
    width: 240px;
    height: 240px;
}


.photo-2 {
   @extend.photo-1;  
}

.photo-3 {
   @extend.photo-1;
}

.photo-4 {
   @extend.photo-1;
}

.photo-5 {
   @extend.photo-1;
}

.photo-6 {
   @extend.photo-1;
}

.photo-7 {
   @extend.photo-1;
}

.photo-8 {
   @extend.photo-1;
}











